USE [master]
GO
/****** Object:  Database [NEWS_DATABASE]    Script Date: 10/11/2024 2:24:55 PM ******/
CREATE DATABASE [NEWS_DATABASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NEWS_DATABASE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\NEWS_DATABASE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NEWS_DATABASE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\NEWS_DATABASE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEWS_DATABASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEWS_DATABASE]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10/11/2024 2:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[Id] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 10/11/2024 2:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[Id] [varchar](20) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](200) NULL,
	[PostedDate] [date] NOT NULL,
	[Author] [varchar](20) NOT NULL,
	[ViewCount] [int] NULL,
	[CategoryId] [varchar](20) NOT NULL,
	[Home] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newsletters]    Script Date: 10/11/2024 2:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newsletters](
	[Email] [nvarchar](100) NOT NULL,
	[Enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/11/2024 2:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [varchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[Gender] [bit] NULL,
	[Mobile] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT ((0)) FOR [Home]
GO
ALTER TABLE [dbo].[newsletters] ADD  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [fk_news_category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[categories] ([Id])
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [fk_news_category]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [fk_news_user] FOREIGN KEY([Author])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [fk_news_user]
GO
USE [master]
GO
